<h1>Sejam bem vindos</h1>
<h2><%= t 'hello' %></h2>
<h2><%= l Date.today %></h2>

<ul>
<li><%= link_to "Tipos" , kinds_path %> </li>
<li><a href="http://0.0.0.0:3000/contacts">Contatos</a></li>
<li><a href="http://0.0.0.0:3000/addresses">Endereços</a></li>
<li><a href="http://0.0.0.0:3000/phones">Telefones</a></li>


</ul>